 /* this is my css file */
/*styles of tags*/
html {
  background-color: lightgrey;
}
/*styles of classes*/
.shark_bait {
  background-color: lightgreen;
}
.shark_bait {
  color: purple;
}
/*styles of ids*/

#tuna_fish{
  color: darkred;
}
